.video-js .vjs-time-control {
  @include flex(none);
  font-size: 1em;
  line-height: 3em;
  min-width: 2em;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.vjs-live .vjs-time-control,
.vjs-live .vjs-time-divider {
  display: none;
}

//New Style for Current time controls duration and current-time
.video-js .vjs-duration {
  /* display: none; */
  display: block;
  position: absolute;
  right: 0;
  top: -2.5em;
}

.video-js .vjs-current-time {
  display: block;
  position: absolute;
  left: 0;
  top: -2.5em;
}

.video-js .vjs-remaining-time {
  display: none;
}

//End of New Styles

.vjs-time-divider {
  display: none;
  line-height: 3em;
}
